/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
}

html {
  scroll-behavior: smooth;
}

@keyframes float {
  0%, 100% { transform: translate(-50%, 0); }
  50% { transform: translate(-50%, -20px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
